/** Spielernamen setzten **/

#setPlayerName{
    display: block;
    /*display: none;*/
    margin: 0px auto;
    text-align: center;
}

/** Spiel ausw�hlen Tabelle **/


#availableGames{
    border: 1px solid #2C6ED5;
    background-color: #C4D3F6;
    width: 800px;
}

#availableGames td, th {
    border: 1px solid #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 200px; 
    text-align: center;
}

#availableGames td{
    cursor: pointer;
}

#availableGames th{
    background-color: #6D93E1;
    color: #FFFFFF;
    width: 200px; 
    text-align: center;
}

#availableGames caption {
  color: #0055AA;
}

/** Komplett Spiel ausw�hlen **/

#selectGame{
    display: none;
    margin: 0px auto;
    width: 800px;
}

/** Neues Spiel erstellen **/

#newGame{
    /*display: block;*/
    display: none;
    width: 450px;
    margin: 0px auto;
}

#newGame td{
    padding: 3px;
}

#newGame th{
    padding: 10px 0px;
}

/** Spiel Spielen **/

#game{
    /*display: block;*/
    display: none;
    margin: 0px auto;
    width: 90%;
}

#gameOptions{
    display: block;
    float: right;
    text-align: center;
}

#GameScreen { 
    display: block; 
    position: static;
    width: 950px;
    float: left;
    min-height: 700px;
}

#svg_obj{
    width: 100%;
    height: 100%;
}

#gameMap {
    border: 2px solid black;
    width: 100%;
}

#gameStatus{
    padding-top: 80px;
}

#playerList{
    padding: 7px;
    border: 3px solid black;
    width: 160px;
    height: 140px;
    text-align: center;
    margin: 0px auto;
}
/**anderes **/
hr{
    color: #000000;
}

/** loading overlay **/
#loading_overlay {
    display: none;
    position: relative;
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=80);
    margin-top: -670px;
    height: 670px;
    padding-top: 150px;
    text-align: center;
}
#loading_message{
    margin: 0px auto;
    color: #ffffff;
}

/** selectUnitAmount Overlay **/
#bottom_overlay{
    display: none;
    position: absolute;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 70px;
    margin-top: -70px;
    width: 950px;
}

#mutex {
    display: none;
    position: relative;
    background: #000;
    opacity: 0.0;
    margin-top: -670px;
    height: 670px;
}

#slider{
    width: 95%;
    margin: 10px auto;
}

label[for=unitAmount]{
    margin-top: 10px;
    margin-left: 2.5%;
    color: #FFFFFF;
}

#textAttack{
    font-size: 16px;
    color: #FFFFFF;
}