/** Spielernamen setzten **/

#setPlayerName{
    display: block;
    /*display: none;*/
    margin: 0px auto;
    text-align: center;
}

/** Spiel ausw�hlen Tabelle **/


#availableGames{
    border: 1px solid #2C6ED5;
    background-color: #C4D3F6;
    width: 800px;
}

#availableGames td, th {
    border: 1px solid #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 200px; 
    text-align: center;
}

#availableGames td{
    cursor: pointer;
}

#availableGames th{
    background-color: #6D93E1;
    color: #FFFFFF;
    width: 200px; 
    text-align: center;
}

#availableGames caption {
  color: #0055AA;
}

/** Komplett Spiel ausw�hlen **/

#selectGame{
    display: none;
    margin: 0px auto;
    width: 800px;
}

/** Neues Spiel erstellen **/

#newGame{
    /*display: block;*/
    display: none;
    width: 450px;
    margin: 0px auto;
}

#newGame td{
    padding: 3px;
}

#newGame th{
    padding: 10px 0px;
}

/** Spiel Spielen **/

#game{
    /*display: block;*/
    display: none;
    margin: 0px auto;
    width: 99%;
}

#gameOptions { 	
    width: 230px; 
    padding-bottom: 10000px; 
    margin-bottom: -10000px;
    float: right; 
    text-align: center;
}		

#GameScreen { 	
    width: 950px;
    min-height: 700px;
    overflow: hidden;
    overflow-y: hidden;
    float: left;
    margin: -30px 25px 0px 25px;    
}

#gameMap {
    border: 2px solid black;
    width: 100%;
    height: 660px;
}

#gameStatus{
    padding-top: 45px;
    height: 150px;
}

#playerList{
    padding: 7px;
    border: 2px solid black;
    width: 200px;
    height: 260px;
    text-align: center;
    margin: 0px 10px;
    font-size: larger;
    position: absolute;
}
/**anderes **/
hr{
    color: #000000;
    margin: 8px 0px;
}

/** loading overlay **/
#loading_overlay {
    display: none;
    position: relative;
    background: #404040; /* Fallback IE 6-8 */
    background: rgba(0, 0, 0, .95);
    margin-top: -667px;
    height: 667px;
    padding-top: 150px;
    text-align: center;
}
#loading_message{
    margin: 0px auto;
    color: #ffffff;
}

/** selectUnitAmount Overlay **/
#bottom_overlay{
    display: none;
    position: absolute;
    background: #404040; /* Fallback IE 6-8 */
    background: rgba(0, 0, 0, .95);
    height: 70px;
    width: 950px;
    margin-top: -7px;
    margin-left: -2px;
}

#mutex {
    display: none;
    position: relative;
    background: #000;
    opacity: 0.0;
    margin-top: -670px;
    height: 670px;
}

#slider{
    width: 95%;
    margin: 10px auto;
}

label[for=unitAmount]{
    margin-top: 10px;
    margin-left: 2.5%;
    color: #FFFFFF;
}

label[for=unitAmountMove]{
    font-size: 16px;
    color: #FFFFFF;
}

label[for=unitAmountAttack]{
    font-size: 16px;
    color: #FFFFFF;
}

#showAttack{
    margin-top: -100px; 
}

#showAttack table{
    font-size: 30px;
    color: #FFFFFF;
    width: 90%;
    margin: 0px auto;
}

#gamePhase{
    margin-bottom: 10px; 
    width: 160px;
    position: relative;
    margin-top: 260px;
}

/** Chat Stuff **/
input { 
    font:12px arial; 
    color: black;
}

#chat { 
    width: 950px;
    height: 150px;
    margin: 10px auto;
    font-family: Vani, Arial; 
    font-size: 13px; 
    color: #FFFFFF;
    text-align: center;
    background:#EBF4FB;
    padding: 7px;
    border: 2px solid black;
}


#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:10px;
    padding:10px;
    background:#fff;
    height: 100px;
    width: 930px;
    border:1px solid #ACD8F0;
    overflow:auto;
    color: black;
}
  
#usermsg {
    width:865px;
    border:1px solid #ACD8F0; 
    margin-bottom:10px;
}

#insertSliderAfter {
    position: absolute;
    top: 10px;
    right: 10px;
} 

#abortUnitPlacement{
    position: absolute;
    top: 10px;
    right: 60px;
}
  
#submit { width: 60px; }

.msgln { margin: 0px 0px 2px 0px;}

/* disable serveranswers
*/
#ZumTesten{
    display: none;
}